!!! 5
html(lang="nl")
	head
		title jeroen van aert
		meta(name="author", content="jeroen van aert")
		meta(name="description",content="Hompagina van Jeroen van Aert - Software Creator")
		meta(name="keywords",content="jeroen van aert, software, development, freelance, nodejs, redis, backbone, html, css")
		meta(property="fb:admins",content="614281613")
		meta(property="og:title", content="Jeroen van Aert")
		meta(property="og:description", content="Hompagina van Jeroen van Aert - Software Creator")
		meta(property="og:type", content="website")
		meta(property="og:image", content="http://www.van-aert.com/img/og.png")
		meta(property="og:url", content="http://www.van-aert.com")
		meta(property="og:locale", content="nl_NL")
		
		script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-839308-6']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		link(rel='stylesheet', href = 'css/fonts.css')
		style
			body {
				background: #444444;
				font-family: 'RaspoutineClassicItalic';
			}
			.content {
				background-color:#c4d317;
				padding:5em 2em 2em 10em;
				width: 18em;
				margin-top: 14%;
				margin-left: 40%;
				text-align: right;
			}
			h1 {
				font-size: 2.5em;
				line-height: 1.2em;
				font-weight: normal:
				font-family: 'RaspoutineMediumItalic';
				margin: 0px;
			}
			h2 {
				font-size: 1.5em;
				color: white;
				font-weight: normal;
				line-height: 1.1em;
				font-family: 'RaspoutineClassicItalic';
				margin: 0px;
			}
			h3 {
				font-size: 1.5em;
				line-height: 1.1em;
				color: #444444;
				font-family: 'RaspoutineClassicItalic';
				margin: 0px;
			}
	body
		.content 
			h1 Jeroen van Aert
			h2 software creator
			h3 jeroen@van-aert.com
			h3 +32 479 79 35 45